---
layout: page
title: Home
---
<section>
    <div class="flex container-available items-center">
        {% include _available.html %}
        {% include _language.html %}
    </div>
    <div class="container">
        {% include about.html %}
    </div>
    <div class="container">
        {% include experience.html %}
    </div>
    <div class="container">
        <FormationContainer formations={formations}></FormationContainer>
    </div>
    <div class="container">
        <CoursesContainer courses={courses}></CoursesContainer>
    </div>
</section>