---
layout: page
title: Home
---
<section>
    <h1>{{ post.layout }}</h1>
    <div class="flex container-available items-center">
        {% include _available.html %}
        {% include _language.html %}
    </div>
    <div class="container">
        {% include about.html %}
    </div>
    <div class="container">
        {% include experience.html %}
    </div>
    <div class="container">
        {% include formation.html %}
    </div>
    <div class="container">
        {% include courses.html %}
    </div>
</section>