<div class="wrapper about">
    <h2 class='text-title ttu normal'>About</h2>
    <div class="text mt2">
        <p>
            Olá, sou Michael Nakashima, Front-End Developer, Maranhese no sangue e Mineiro de coração, comecei minha
            carreira desenvolvendo aplicações no já distante Delphi 6 e naquela época já sabia que não era minha
            vibe.<br><br>Desenvolvendo aplicacões utilizando Flash / ActionScript para uma empresa pioneira no ramo de
            Ensino a Distância, foi a porta de entrada para a área de Front End, onde atuei à partir de 2012 convertendo
            cursos em Flash para HTML / CSS / Javascript, desde então em uma eterna lua de mel com essas
            tecnologias.<br><br>Trabalhei em uma gigante do ramo de Tecnologia, incialmente como Front End,
            desenvolvendo aplicativos, sistemas e interfaces para o maior portal de empreendedorismo do Brasil, fui
            Scrum Master de duas Squads, usando o Scrum para desenvolver soluções e aplicar o ágil, disseminando a
            cultura e premissas do mesmo.<br><br>Atualmente como Front End, sou responsável por desenvolver uma
            plataforma intuitiva e poderosa para o desenvolvimento de contatos inteligentes (chatbots), onde grandes
            empresas de vários ramos automatizam e facilitam a conexão entre marca e usuário.
        </p>
    </div>
</div>