@import "animation.scss";

.avatar {

  &--image {
    overflow: hidden;
    border-radius: 50%;
  }

  &:hover {
    -webkit-animation: spin 0.2s linear 1;
    -moz-animation: spin 0.2s linear 1;
    animation: spin 0.2s linear 1;
  }
}


.language{
  &--button{
      cursor: pointer;
      background-color: transparent;
      border: none;

      &:hover{
          font-weight: bold;
      }

      &.active{
          font-weight: bold;
      }
  }
}

.bullet{

  display: inline-block;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;

  &.noDisponible{
      background-color: $baseDanger;
  }
}

.card {

  display: flex;

  @media screen and (max-width: 991px) {
      flex-direction: column;
      margin: 1rem 0;
  }

  @media screen and (min-width: 991px) {
      margin: 0 20px 20px;
      padding: 20px 0;
  }

  &-avatar {
      @media screen and (min-width: 991px) {
          min-width: 150px;
      }
  }

  &-description {
      @media screen and (min-width: 991px) {
          margin-left: 1rem;
      }
  }
}