@import 'variables.scss';
@import '_main.scss';
@import '_nav.scss';
@import '_components.scss';

.text{
    &-title{
        color: $textTitle;
        font-family: 'Oswald';
        font-size: 3rem;
        font-weight: bold;
        text-transform: uppercase;
    }
}