@import 'variables.scss';
@import '_main.scss';
@import '_nav.scss';
@import '_components.scss';

.bullet{

    display: inline-block;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;

    &.noDisponible{
        background-color: $baseDanger;
    }
}

.text{
    &-title{
        color: $textTitle;
        font-family: 'Oswald';
        font-size: 3rem;
        font-weight: bold;
        text-transform: uppercase;
    }
}