---
title: mhnakashima | Static Portfolio - 2.0
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if page.title %}
    <title>{{ page.title }}</title>
    {% else %}
    <title>mhnakashima | Static Portfolio - 2.0</title>
    {% endif %}
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Oswald:wght@400;700&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}css/styles.css" />
</head>

<body class="page">
    <main class="site">
        <aside class="sidebar">
            {% include nav.html %}
        </aside>
        <section class="container-site">
            {{ content }}
        </section>
    </main>
</body>

</html>